<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Resume - Joel Terol</title>
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <h1 class="logo">Joel Terol</h1>
      <ul class="nav-links">
        <li><a href="../../index.html"><i class="fas fa-user"></i> About Me</a></li>
        <li><a href="education.html"><i class="fas fa-graduation-cap"></i> Education</a></li>
        <li><a href="experience.html"><i class="fas fa-briefcase"></i> Experience</a></li>
        <li><a href="../../view/es/index.html"><i class="fas fa-flag"></i> ES</a></li>
      </ul>
    </nav>
    <!-- About Me -->
    <div class="intro-box">
      <div class="intro-expanded">
        <img src="../../img/doue.webp" alt="Profile photo of Joel Terol" class="perfil-img-gran" />
        <div class="text-gran">
          <h2>Hi! I'm Joel Terol</h2>
          <p>
            I consider myself a polite, humble, and fun guy. I love learning new things and I'm always willing to help others. I'm passionate about technology, video games, and cybersecurity. In my free time, I enjoy playing football or going to the gym. I'm always looking for new challenges and opportunities to grow both personally and professionally.
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- Video Section -->
  <section class="video">
    <h3>Learn more about me!</h3>
    <iframe src="https://youtube.com/shorts/Oxbl_pvaKpc?feature=share" title="Introduction video" allowfullscreen></iframe>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy;
    <div class="footer-links">
      <a href="https://github.com/ricksanchez" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/ricksanchez" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>

</body>
</html>

